h1{
    font-family: var(--font-family-heading1);
    font-size: var(--font-heading1);
    color: var(--white);
    font-weight:var(--font-weight-light);
    letter-spacing: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    margin-bottom: 0px;
    text-align: center;
}

h2{
    font-family: var(--font-family-heading2);
    font-size: var(--size-heading2);
    color: var(--black);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
  font-family: var(--font-family-body); 
  font-size: var(--size-body); 
}

ul{
    list-style-type: none;
    margin-top: 70px;
    
}
a{
    text-decoration: none;
    color: var(--white);
}

.hero__chapo {
    font-family: var(--font-family-heading2);
    font-size: var(--size-heading3 24px);
    color: var(--white);
    font-weight: var(--font-weight-light);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    text-align: center;
}

.title{
    padding-bottom: 50px;
}

.partenaires__title{
    padding-top: 160px;
}
   
.div__home{
    margin-top: 78px;
    width: 335px;
}

.intro{
    margin-bottom: 60px;
}



