.icon__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article__video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listefilm__img{
    width: 165px;
    height: 220px;
}

video{
width: 265px;
height: 200px;
}

