/* Couleurs */
:root {
    --color-gradient: linear-gradient(#78B7CE,#BAE2B8);
    --color-gradient2: linear-gradient(#BAE2B8,#78B7CE);
    --blue: #78B7CE;
    --black: #000;
    --white-cassé: #FCFCF4;
    --white: #FCFCF4;
    --brown: #CEAF89;
    --green: #BAE2B8;

  
}

/* Typographie */
:root {
    --font-family-heading1: "Playfair Display", serif;
    --font-family-heading2: "Playfair", serif;
    --font-body: "montserrat", sans-serif;
    --font-heading1: 70px;
    --font-heading2: 40px;
    --font-heading3: 24px;
    --font-body: 20px;
    --font-body2: 15px;
    --font-body3: 12px;
    
}

/* Tailles et espacements */
:root {
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 8px;
    --container-icon: 18px;
    --container-espace-texte: 50px;
    --container-espace-btn: 40px;
    --container-espace-card: 70px;
    --container-espace-section: 160px;
    
}

/* Ombres */
:root {
    --box-shadow-sm: 0px 1px 2px rgba(0, 0, 0, 0.4);
    --box-shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --box-shadow-lg: 0px 10px 15px rgba(0, 0, 0, 0.2);
}