footer{
    background: linear-gradient(to top ,#78B7CE, #BAE2B8);
    padding-top: 23px;
    
}

.footer__liste{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    
}

.footer__item{
    font-family: var(--font-family-body);
    font-size: 18px;
    font-weight: var(--font-weight-regular);
}

.footer__reseaux{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 26px;
    padding-right: 80px;
    padding-left: 80px;
    
}

.footer__legende {
    font-family: var(--font-family-body);
    font-size: 10px;
    font-weight: var(--font-weight-light);
    color: var(--white);
    margin-top: 26px;
    margin-bottom: 0px;
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

.footer__img{
    display: block;
    width: 100vw;
    margin: 0;
    position: relative;
    left: calc(-50vw + 50%);

}

