.header{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    
}

.header__logo--icon {
    width: 180px;
    margin-top: 26px;
    margin-right: 25px;

}

.header__left{
    margin-top: 60px;
}

.header__right{
    margin-top: 60px;
}



