.hero__chapo {
    font-family: var(--font-family-heading2);
    font-size: var(--size-heading3 24px);
    color: var(--white);
    font-weight: var(--font-weight-light);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    text-align: center;
}

.hero__montain{
    display: block;
    width: 100vw;
    margin: 0;
    position: relative;
    left: calc(-50vw + 50%);
    margin-top: 0px;
        
}

.hero__line{
display: block;
    width: 100vw;
    margin: 0;
    position: relative;
    left: calc(-50vw + 50%);
}

