.hero__montain{
    display: block;
    width: 100vw;
    margin: 0;
    position: relative;
    left: calc(-50vw + 50%);
    margin-top: 0px;
        
}

.hero__line{
display: block;
    width: 100vw;
    margin: 0;
    position: relative;
    left: calc(-50vw + 50%);
}

