
.equipe__container{
    padding-bottom: 160px;
    display: flex;
    justify-content: space-between;
    gap: 144px;
    flex-direction: column;

}


.fiche{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
   
}

.fiche__img{
    padding-top: 15px;
    width: 200px;
    height: 228px;
}

.fiche__title{
    margin: 0;
    font-size: var(--size-heading3);
}

.fiche__legende{
    margin: 0;
}

.fiche__desc{
    margin: 0;
    font-size: var(--size-body3);
    width: 290px;
    text-align: center;
    padding-bottom: 15px;
   
}