.section__formule{
    padding-top: 160px;
    padding-bottom: 160px;
}

.formule__title{
    width: 134px; 
    padding-bottom: 0px;    
}

.section__formule{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    flex-direction: column;
}

.formule__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;

}

.card__header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 2px;

}

.card__title{
    display: flex;
    font-family: var(--font-family-heading2);
    font-size: 20px;
    color: var(--black);
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card__desc {
    display: flex;
    justify-content: center;
    padding-left: 22px;
    padding-right: 22px;
    font-family: var(--font-family-body);
    font-size: var(--size-body2);
    color: var(--black);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}

.card__price {
    display: flex;
    justify-content: center;
    padding-left: 22px;
    padding-right: 22px;
    font-family: var(--font-family-body);
    font-size: 20px;
    color: var(--black);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}


