.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--black);
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
}