.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: var(--black);
    color: var(--white);
    flex-direction: column;
    justify-content: space-between;
}
.header__logo--icon{
    width: 180px;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}