section {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
}

.section__hero {
background: linear-gradient(to bottom, #78B7CE, #BAE2B8);
padding-bottom: 64px
}

.section__partenaires{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}


.partenaire__img1 {
    width: 150px;
    object-fit: cover;
}

.partenaire__img2 {
    width: 200px;
    object-fit: cover;
}

.partenaire__img3 {
    width: 250px;
    object-fit: cover;
}


